# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Окружение
venv/
.env
.env.old

# OS
.DS_Store
Thumbs.db

*.json.gz
data_collection/nvdcve-2.0-modified.json

# IDE
.vscode/
.idea/

# Пока не встроен в проект
gnn_mvp/
data_examples/